.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 6rem;
  min-height: 100vh;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem;
  padding: 1rem 2rem;

  background-color: #f8f8f8;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.user-image {
  border-radius: 50%;
}

.username {
  margin: 1rem 0;
  font-weight: 500;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.5rem;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: medium;

  color: var(--main-white);
  background-color: var(--pine-tree);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s cubic-bezier(0.66, 0, 0.34, 1);
}

.btn:hover {
  background-color: #403933;
  color: var(--main-white);
}
