.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.5rem 0;

  border-top: 1px solid var(--pine-tree);
  border-bottom: 1px solid var(--pine-tree);
}

.copyright {
  font-weight: 500;
  padding: 1rem 0;
}

.btn {
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
}

.btn::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: #24242a;
  transition: width 0.3s ease-in;
}

.active::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #24242a;
}

.btn:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 1rem;
  }
}
